<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <div class="article-subtitle">
            <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
            <%- partial('post/tag') %>
        </div>

        <%- partial('post/gallery') %>

        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
        <meta itemprop="image" content="<%- config.url + config.root + thumbnail(post) %>">
    </div>
</article>
<%- partial('comment/index') %>
